server:
  port: 8282

logging:
    level:
      org:
        springframework:
          web: DEBUG
spring:
  thymeleaf:
      cache: false

# Configuration START

am:
  name: AutoMerge

  gitlab:
    url: http://127.0.0.1:8800
    private-token: token
    project-page: http://127.0.0.1:8800/group/project
    project-id: 1
    source-branch: develop
    target-branch: master

  mattermost:
    url: http://127.0.0.1:11000
    private-token: token
    notify-channel: channelId



# Configuration END
