<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAM - 维护面板</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/static/plugin/sweetalert/sweetalert.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/static/plugin/sweetalert/sweetalert.min.js}"></script>
</head>
<body>
<style>
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<!-- content -->
<div class="container" style="margin-left: 10rem; margin-top: 2rem; margin-bottom: 10rem;">
    <div class="page-header">
        <h1>GAM - 维护面板&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge unselectable" id="secret-btn">V0.6.1</span></h1>
        <p>在这里，你可以针对 STEP 1 以及 STEP 2 的机能进行手动发布管理。</p>
    </div>

    <div class="alert alert-info" role="alert">
        <div>
            <b>2018-02-28：关于使用前方部署系统的相关事宜</b>
            <p>
                因项目管理需要，即日起本面板已停止使用，请移步前方系统进行部署操作：<br/>
                前方系统地址：<a href="http://172.19.6.119/jenkins/job/jast-dev-aws/job/LJ/job/SHANGHAI/">Jenkins Japan</a> <br/>
                有关使用方法请查阅 WIKI：<a href="http://172.17.229.212:7083/projects/coding/wiki/%E9%83%A8%E7%BD%B2%E6%96%B9%E6%B3%95%EF%BC%88%E5%A4%96%E9%83%A8%EF%BC%89/">部署方法（外部）</a> <br/>
            </p>
        </div>
    </div>



</div>


</body>
</html>