<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GAM - 维护面板</title>
    <meta charset="UTF-8"/>
    <link th:href="@{/static/plugin/sweetalert/sweetalert.css}" rel="stylesheet"/>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{/static/plugin/sweetalert/sweetalert.min.js}"></script>
</head>
<body>
<style>
    .unselectable {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>
<!-- content -->
<div class="container" style="margin-left: 10rem; margin-top: 2rem; margin-bottom: 10rem;">
    <div class="page-header">
        <h1>GAM - 维护面板&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge unselectable" id="secret-btn">V0.6.1</span></h1>
        <p>在这里，你可以针对 STEP 1 以及 STEP 2 的机能进行手动发布管理。</p>
    </div>

    <div class="alert alert-info" role="alert">
        <div>
            <b>2018-02-08：关于近期设定变更的关事宜</b>
            <p>
                STEP 1 范围内的程序即日起调整为每日发布两次，分别为中国时间上午十一点以及下午四点。<br/>
                另，全程序连接的数据库版本为：v0-10-0，请悉知。<br/>
            </p>
        </div>
    </div>

    <div class="alert alert-danger" role="alert">
        <div>
            <b>2018-01-29：关于 STEP 1 发布相关事宜</b>
            <p>
                STEP 1 范围内的程序为日方强化测试所用，若发布时代码存在编译错误则会导致<b>发布失败</b>，<b>系统不可用</b>，<b>前方夺命连环 CALL</b>等不良副作用，请悉知。<br/>
                故此，计划外发布 STEP 1 的功能即日起<b>暂时关闭</b>。<br/>
            </p>
        </div>
    </div>

    <div class="alert alert-info" role="alert">
        <div>
            <b>2017-12-28：关于发布周期与其他事宜</b>
            <p>
                STEP 1 范围内的程序<b>通常</b>会在中国时间每天下午四点进行一次全量发布。<br/>
                STEP 1 使用的数据库为前方提供的 LJD，SCHEMA 为：jastdb_v0-9-0-sh1。<br/>
                STEP 2 范围内的程序请测试人员根据 Redmine Wiki 中的 ITA 发布流程进行操作。<br/>
                STEP 2 使用的数据库为前方提供的 LJD，SCHEMA 为：jastdb_v0-9-0-sh2。<br/>
            </p>
        </div>
    </div>

    <div class="input-group">
        <span class="input-group-addon">神秘代码</span>
        <input type="text" class="form-control" placeholder="不知道请留空" id="secretUrl"/>
    </div>


    <div class="page-header">
        <h3>STEP 1 操作区</h3>
        <p>你可以在这里针对 STEP 1 范围内的某一单独程序进行计划外的发布。</p>
    </div>

    <div>
        <p>单击“STEP 1 通知发布”按钮后，触发计划外发布流程，随后操作类似 ITA 阶段。</p>
        <p>按下按钮后，请根据系统返回的 PIPELINE ID 前往对应页面等待基础部件编译完毕后，按下“播放键”进行单独程序的发布。</p>
        <button type="button" id="d1-btn" disabled="disabled" class="btn btn-primary">STEP 1 通知发布 _(:3 」∠ )_</button>
    </div>

    <div class="page-header">
        <h3>STEP 2 操作区</h3>
        <p>你可以在这里通知系统立即合并开发分支中的代码进入 ITA 分支中，并准备进行发布。</p>
    </div>

    <div>
        <p>单击“STEP 2 通知发布”按钮后，触发自主发布流程，随后操作类似 ITA 阶段。</p>
        <p>按下按钮后，请根据系统返回的 PIPELINE ID 前往对应页面等待基础部件编译完毕后，按下“播放键”进行单独程序的发布。</p>
        <button type="button" id="d2-btn" class="btn btn-primary">STEP 2 通知发布 ｡:.ﾟヽ(*´∀`)ﾉﾟ.:｡</button>
    </div>

</div>


<script>

    var clickCount = 0;

    function triggerManual(pipeId){
        $.ajax({
            type: 'POST',
            url: '/triggerManual/' + pipeId
        })
            .done(function (data) {
                console.log('Get response: ' + JSON.stringify(data));
            });
    }

    $(function () {

        $("#secret-btn").click(function () {
           clickCount += 1;
           if(clickCount >= 3){
               $("#d1-btn").removeAttr("disabled");
           }
        });

        $("#d1-btn").click(function () {
            var url = "/deployStep1";
            if ($("#secretUrl").val() === 'secret') {
                url = url.concat("s");
            }
            swal({
                    title: "STEP 1",
                    text: "将要执行的操作：STEP 1 通知发布 <br/>" + '<p style="color:red"><b>请确保当前开发分支没有编译错误！</b></p>',
                    type: "warning",
                    html: true,
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            url: url
                        })
                            .done(function (data) {
                                if (data.bizStatus === true) {
                                    swal({
                                        title: "成功",
                                        text: "STEP 1 通知发布成功 <br/>" + "下一步：" + data.msg,
                                        type: "success",
                                        html: true
                                    });
                                } else {
                                    swal({
                                        title: "失败",
                                        text: "STEP 1 通知发布失败 <br/>" + data.msg,
                                        type: "error",
                                        html: true
                                    });
                                }
                            });
                    } else {
                        swal("取消", "STEP 1 通知发布已取消。", "error");
                    }
                });
        });

        $("#d2-btn").click(function () {
            var url = "/deployStep2";
            if ($("#secretUrl").val() === 'secret') {
                url = url.concat("s");
            }
            swal({
                    title: "STEP 2",
                    text: "将要执行的操作：STEP 2 通知发布",
                    type: "warning",
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "确认",
                    closeOnConfirm: false,
                    closeOnCancel: false,
                    showLoaderOnConfirm: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: 'POST',
                            url: url
                        })
                            .done(function (data) {
                                if (data.bizStatus === true) {
                                    swal({
                                        title: "成功",
                                        text: "STEP 2 通知发布成功 <br/>" + "下一步：" + data.msg,
                                        type: "success",
                                        html: true
                                    });
                                } else {
                                    swal({
                                        title: "失败",
                                        text: "STEP 2 通知发布失败 <br/>" + data.msg,
                                        type: "error",
                                        html: true
                                    });
                                }
                            });
                    } else {
                        swal("取消", "STEP 2 通知发布已取消。", "error");
                    }
                });
        })
    });
</script>

</body>
</html>